doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About
        link(rel="icon" type="image/x-icon" href="/img/logo_crow.ico")
        link(rel="stylesheet" href="./css/gioithieu.css")

    body
        .x-game
        script(src="./js/controls/gioithieu_controls.js")
