extends ../../layout/default.pug
include ../../mixin/alert.pug
block style 
    link(rel="stylesheet" href="./css/cource.css")
block main
    section.courses
        h1 Our Courses
        p.subtitle Khám phá khóa học hay nhất
        p.description Trong suốt thời gian đó, chúng tôi đã định hình cách mọi người vào đại học để họ có thể học hỏi và phát triển từ trải nghiệm này.
    div.section-two
            h2.title Khóa Học
            div.course-container
                div.inner-wrap
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
    div.section-two
            div.course-container
                div.inner-wrap
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
    div.section-two
            div.course-container
                div.inner-wrap
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐
                    div.course-card
                        img(src="./img/a1.jpg" alt="30 ngày học tiếng Anh")
                        h3 30 ngày học tiếng Anh cho người mới bắt đầu
                        p 📚 1500 Lượt học ⭐⭐⭐⭐⭐