extends ../../layout/default
include ../../mixin/alert

block style
    link(rel="stylesheet" href="/css/flashcard/card.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
block main
    if(flashCard)
        .card-data(data=JSON.stringify(flashCard))
    .container
        .box
            button#clear.clear.btn.btn-custom
                i.fas.fa-trash
                |  Xóa tất cả
            button#random.clear.btn.btn-custom
                i.fas.fa-random
                |  Trộn thẻ
        h1
            | Thẻ [#{flashCard.name}]
            button#show.btn.btn-custom
                i.fas.fa-plus
                |  Thêm mới
        #cards-container.cards
        .navigation
            button#prev.nav-button
                i.fas.fa-arrow-left
            p#current
            button#next.nav-button
                i.fas.fa-arrow-right
        #add-container.add-container.card-animation
            h1
                | Thêm thẻ mới
                button#hide.btn.btn-small.btn-custom
                    i.fas.fa-times
            .form-group
                label(for='vocabylary') Câu hỏi
                textarea#question(placeholder='Nhập câu hỏi...')
            #alert
            .form-group
                label(for='meaning') Trả lời
                textarea#answer(placeholder='Nhập câu trả lời...')
            button#add-card.btn.btn-margin.btn-custom
                i.fas.fa-plus
                |  Thêm thẻ

block script2
    script(src="/js/flashcard/index.js" type="module")