extends ../../layout/default.pug
include ../../mixin/alert.pug
block style 
    link(rel="stylesheet" href="./css/flashcards.css")
block main 
    section.flashcards
        img.flashcards-svg(src="/img/svg-flashcards.svg" alt="My SVG Image" width="70")
        img.footer-svg(src="./img/svg-footer.svg", alt="")
        img.footer3-svg(src="./img/svg-footer3.svg", alt="")
        h1 FlashCards 
        p.description Trong suốt thời gian qua, chúng tôi đã nỗ lực định hình cách mọi người tiếp cận đại học, giúp họ không chỉ học hỏi mà còn trưởng thành qua từng trải nghiệm.

    section.flashcard-categories
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Cambridge Vocabulary for IELTS (20 units)
            p 776 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Từ vựng tiếng Anh văn phòng
            p 536 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Từ vựng tiếng Anh giao tiếp nâng cao
            p 559 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Từ vựng tiếng Anh giao tiếp trung cấp
            p 796 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Từ vựng Tiếng Anh giao tiếp cơ bản
            p 900 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 TOEFL (cổ ảnh)
            p 600 từ
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Business Word List
            p 600 TOEIC words        
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Business Word List
            p 600 TOEIC words        
        div.category
            img(src="./img/cours-1.png", alt="")
            h2 Business Word List
            p 600 TOEIC words        